*{
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #FFF;
  font-family: 'Dosis', sans-serif;
}

body{
  background-color: #000000;
}

nav a{
  font-size: 18px;
}

.fondonav{
  background-color: #000;
}


#carrusel{
  position: relative;
}

.iconbg{
 background-color: #0dcaf0;
}

#quienes_somos p{
  font-size: 20px;
}

.card-title, .card-text{
  color: #000;
}

footer{
  background-color: #0dcaf0;
}
