*{
  border: 0px;
  padding: 0px;
  margin: 0px;
  color: #FFF
}

body{
  background-color: #000000;
}

nav{
 z-index: 3;
}

/*
.fondonav{
  height: 10em;
  margin-top: -4.5em;
  z-index: 1;
}
*/


#carrusel{
  /*position: relative;*/
  margin-top: -4.5em;
  z-index: 2;
}

.iconbg{
 background-color: #0dcaf0;
}

.card-title, .card-text{
  color: #000;
}

footer{
  background-color: #0dcaf0;
}
